/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
  font-family: 'Kanit', sans-serif;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;
  --ifm-code-font-size: 90%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 16px;
  }
}

html[data-theme='dark'] {
  --ifm-background-color: #141414;
  --ifm-background-surface-color: #161616;
}

